{% extends 'core/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="w-full my-6 px-4 bg-gray-900 shadow-md rounded-xl p-6">
    <h1 class="mb-4 text-xl md:text-2xl text-center text-white">Reset Your Password</h1>

    <form method="post" action=".">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-4">
            <label class="block mb-2 text-white">Email</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="mt-1 text-red-600">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>

        <div class="flex justify-center">
            <button class="py-2 px-4 text-lg bg-gray-700 hover:bg-blue-500 rounded text-white">
                Submit
            </button>
        </div>
    </form>
</div>
{% endblock %}
