{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}

<div class="grid grid-cols-1 gap-6 shadow-md bg-white sm:grid-cols-5 rounded-xl">

    <!-- Image and Details on the Left -->
    <div class="col-span-1 sm:col-span-3">
        <div class="flex flex-col items-center"> <!-- Center-align the image and stack items vertically -->
            <div class="p-6 rounded-xl">
                <img src="{{ item.image.url }}" class="rounded-xl" width="500" height="500"> <!-- Set a fixed size here -->
            </div>
            <div class="p-3 rounded-xl">
                <h1 class="mb-6 text-2xl p-2 border-b border-gray-300">{{ item.name }}</h1>

                {% if item.description %}
                    <h2 class="text-xl px-2">Description</h2>
                    <p class="text-gray-500 p-2 border-b border-gray-300">
                        {{ item.description }}
                    </p>
                {% endif %}

                <h2 class="text-xl p-2">General</h2>
                <p class="text-gray-500 px-2"><strong>LED lights used: </strong>{{ item.led_lights_used }}</p>
                <p class="text-gray-500 px-2"><strong>Inches: </strong>{{ item.inches }}</p>
                <p class="text-gray-500 px-2"><strong>Sheet mm: </strong>{{ item.sheet_mm }}</p>
                <p class="text-gray-500 px-2"><strong>IP rating: </strong>{{ item.ip_rating }}</p>

                {% if request.user == item.created_by %}
                    <div class="mt-6 p-6 bg-white rounded-xl">
                        <p>Posted by you</p>
                        <a href="{% url 'inventory:edit' item.id %}" class="inline-block mt-4 px-4 py-2 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-gray-500">Edit</a>
                        <a href="{% url 'inventory:delete' item.id %}" class="inline-block mt-4 px-4 py-2 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-gray-500">Delete</a>
                    </div>
                {% else %}
                    <button id="contact-seller" data-phone="NjM2MDM1MjAwNA==" data-item-name="{{ item.name }}" data-item-description="{{ item.description }}" data-item-meters="{{ item.meters }}" data-item-inches="{{ item.inches }}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-blue-600 text-white rounded-xl hover:bg-gray-500 {% if not request.user.is_authenticated %}bg-gray-300 text-gray-600 cursor-not-allowed pointer-events-none{% endif %}" {% if not request.user.is_authenticated %}disabled{% endif %}>Contact Seller</button>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Related Items on the Right (2 Items per Column, 3 Columns) -->
    <div class="col-span-1 sm:col-span-2 p-3 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Related Items</h2>
        <div class="grid grid-cols-2 gap-4 max-w-sm mx-auto"> <!-- Show 2 items per column -->
            {% for item in related_items %}
                <div class="mb-4">
                    <a href="{% url 'inventory:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-xl" width="150" height="150">
                        </div>
                        <div class="p-6 bg-white">
                            <h2 class="text-xl">{{ item.name }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}

