{% extends 'core/base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}
<div class="mt-6 p-6 bg-white shadow-md rounded-xl">
    {% for order in orders %}
    <div class="flex">
        <div class="flex-1 pl-5">
            <p style="color: rgb(0, 0, 0);">Product id</p>
        </div>
        <div class="flex-1 w-64">
            <p style="color: rgb(0, 0, 0);">Product Name</p>
        </div>
        <div class="flex-1 w-25">
            <p style="color: rgb(0, 0, 0);">Finalize Order</p>
            <label for="yes{{ order.id }}" class="inline-flex items-center">
                <input type="checkbox" id="yes{{ order.id }}" name="finalize{{ order.id }}" value="yes" class="form-checkbox rounded-lg text-black-500 border-black-400">
                <span class="ml-2 text-black">Yes</span>
            </label>
            <label for="no{{ order.id }}" class="inline-flex items-center">
                <input type="checkbox" id="no{{ order.id }}" name="finalize{{ order.id }}" value="no" class="form-checkbox rounded-lg text-black-500 border-black-400">
                <span class="ml-2 text-black">No</span>
            </label>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}