{% extends 'core/base.html' %}

{% block title %}Pending orders{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}

        {% if request.user.is_superuser %}

            {% for order in orders %}
            <div class="flex flex-col md:flex-row bg-gray-800 text-white m-4 p-4 rounded-xl items-center">
                <div class="flex-1 mb-4 md:mb-0 text-center">
                    <p class="text-blue-500">Order ID</p>
                    <p>{{ order.order_id }}</p>
                </div>
                <div class="flex-1 mb-4 md:mb-0 text-center">
                    <p class="text-blue-500">Product name</p>
                    <p>{{ order.product_name }}</p>
                </div>
                <div class="flex-1 mb-4 md:mb-0 text-center">
                    <p class="text-blue-500">Phone number</p>
                    <p>{{ order.phone_number }}</p>
                </div>
                <div class="flex-1 text-center">
                    <img src="{{ MEDIA_URL }}{{ order.product_image_path }}" class="w-32 h-32 object-cover mx-auto">
                </div>
                <div class="flex-1 mt-4">
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ order.order_id }}">
                        <select name="status" class="px-4 py-2 border border-gray-800 bg-gray-900 rounded-md shadow-sm" onchange="this.form.submit()">
                            <option value="NA" {% if order.status == 'NA' %}selected{% endif %}>Not accepted</option>
                            <option value="IP" {% if order.status == 'IP' %}selected{% endif %}>In progress</option>
                            <option value="CO" {% if order.status == 'CO' %}selected{% endif %}>Complete</option>
                        </select>
                    </form>
                </div>
            </div>
            {% endfor %}

        {% endif %}

    {% endif %}

{% endblock %}